/* Cascade style sheet based on films.dtd DTD */
/*BazaFilmów { display: block } */
Autor:hover{
    background-color: chocolate;
    color: burlywood;
}

Autorzy {
    margin: 2px;
    padding:10px;
    background-color: burlywood;
    border-radius: 5%;
    border: dotted;

}

Autorzy:before {
    content: "Autorzy: ";
    color: darkred;
    margin: 20px;
    display: inline-block;
    text-align: center;
    font-size: 120%;
}
 Autor{
    content: attr(Imię) " " attr(Nazwisko);
     font-size: 80%;
     display: inline-block;
     min-width: 30%;
     max-width: 30%;
     margin: 2px;
     padding:5px;
     background-color: orange;
     border-radius: 5%;
     border: dashed #336699;
     text-align: center;
     color: brown;
     font-weight: bold;

}
Film {
	    font-size: 80%; 
    text-align: left;
    display: inline-block;
    min-width: 20%;
	max-width: 25%;
    margin: 5px;
    padding:10px;    
	background-color: orange;
    border-radius: 5%;
    border: dotted #336699;
}

Gatunki { display: block }
Gatunek { display: block }
Filmy { display: block }
Film:before {
	content: attr(IdGatunku);
	display:block;
	font-family: Cambria, Georgia ;
}

Film[IdGatunku="Dramat"]{
    background-color: lightslategrey;
}
Filmy > Film:hover{
    background-color: greenyellow;
}
Film[IdGatunku="Komedia"]{
    background-color: lightpink;
}
Film[IdGatunku="Sci-Fi"]{
    background-color: lightgreen;
}

Tytuł {
		font-size: 150%;
        color: firebrick;
		font-style:italic;
        font-weight: bold;
}
DataPremiery:before { 
		content:"Data premiery:";
		color:white; 
		margin: 20px; 
}
DataPremiery { display: block }
Kraj:nth-child(3):before { 
		content:"Kraj produkcji:";
		color:white; 
		margin: 20px; 
}
Kraj { display: inline-block }
Reżyser:before { 
		content:"Reżyser:";
		color:white; 
		margin: 20px; 
}
Reżyser { display: block }
