/* Cascade style sheet based on films.dtd DTD */
/*BazaFilmów { display: block } */


Autorzy:before {
    content: "Autorzy: ";
    color: gray;
    margin: 20px;  
    display: inline-block;
}
Autorzy > Autor{
    content: attr(Imię) " " attr(Nazwisko);
    color: coral; 
    display: inline;
}
Film {
	    font-size: 80%; 
    text-align:text-top;
    display: inline-block;
    min-width: 20%;
    margin: 5px;
    padding:10px;    
	background-color: orange;
}

Gatunki { display: block }
Gatunek { display: block }
Filmy { display: block }

Tytuł {
		font-size: 100%; 
        display:block-line;
        color: red;
		font-style:italic;
}
DataPremiery:before { 
		content:"Data premiery:";
		color:white; 
		margin: 20px; 
}
DataPremiery { display: block }
Kraj:nth-child(3):before { 
		content:"Kraj produkcji:";
		color:white; 
		margin: 20px; 
}
Kraj { display: inline-block }
Reżyser:before { 
		content:"Reżyser:";
		color:white; 
		margin: 20px; 
}
Reżyser { display: block }
