body{
    background-color: #ffdb8c;
    margin: 50px 50px 50px 50px;
}

div.authors {
    text-align: center;
}

div.authors>div.link {
    text-align: left;
}

p.authors-title {
    font-family: Georgia;
    font-size: 20px;
}

p.author {
    font-family: Georgia;
    font-size: 20px;
}

th {
    width: 160px;
    text-align: center;   
}

td {
    text-align: center; 
}


div.date {
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    margin: 50px 20px 10px 20px;    
}




